@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf) format(otf);
}
body {
    margin: 0;
    font-family: Norse-Bold;
    display: flex;
}

img {
    width: 70vh; 
    height: auto;
    margin-bottom: 0;
}

.text-container{
    margin-left: 100px;
    flex-direction: column;
    display: flex;
}

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  span {
    font-family: Norse-Bold;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
    margin-top: 200px;
  }

  label {
    font-family: Norse-Bold;
    font-size: 35px;
}
legend {
    font-family:Norse-Bold;
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
}


  input {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px; 
    font-size: 40px; 
    width: 100%; 
    box-sizing: border-box;
  }
  
  input:invalid {
    border-color: red;
  }

  input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    outline: none;
  }

  button.btn-primary {
    width: 30%;
    margin-top: 20px;
    background-color: #596D48; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 20px;
    cursor: pointer; 
    font-size: 40px;
    font-family: Norse-Bold;
  }

  button.btn-primary:hover {
    background-color: #4A5B3B;
  }
  
.login-prompt {
    margin-top: 20px;
    font-family: Norse-Bold;
    font-size: 30px;
}

.login-prompt a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.login-prompt a:hover {
    text-decoration: underline;
}
